.post_header {
    display: flex;
}

.photo {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
}

.userPhoto {
    width: auto;
    height: 150%;
    margin: 0 auto;
}

.post_header_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}

.post_author {
    font-weight: bold;
}

.post_date {

}